<!-- -*- mode: XML -*- -->

<launch>

    <node name="dynamixel_manager1" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                mx64_port1:
                    <!--motor1-->
                    port_name: "/dev/motor1_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>

    <node name="dynamixel_manager2" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                mx64_port2:
                    <!--motor2-->
                    port_name: "/dev/motor2_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>

    <node name="dynamixel_manager3" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                mx64_port3:
                    <!--motor3-->
                    port_name: "/dev/motor3_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>

    <node name="dynamixel_manager4" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                mx64_port4:
                    <!--motor4-->
                    port_name: "/dev/motor4_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>


    <node name="dynamixel_manager5" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                clamp_port:
                    port_name: "/dev/clamps_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>

    <node name="dynamixel_manager6" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                gripper_port:
                    port_name: "/dev/gripper_USB"
                    baud_rate: 250000
                    min_motor_id: 0
                    max_motor_id: 25
                    update_rate: 200
        </rosparam>
    </node>


    <rosparam file="$(find catcher_frame_controller)/config/frame.yaml" command="load"/>

    <node name="controller_spawner1" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=dxl_manager
                --port mx64_port1
                motor1_controller
                "
            output="screen"/>


    <node name="controller_spawner2" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=dxl_manager
                --port mx64_port2
                motor2_controller
                "
            output="screen"/>


    <node name="controller_spawner3" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=dxl_manager
                --port mx64_port3
                motor3_controller
                "
            output="screen"/>


    <node name="controller_spawner4" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=dxl_manager
                --port mx64_port4
                motor4_controller
                "
            output="screen"/>


    <node name="controller_spawner5" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port clamp_port
            frameclamp1_controller
            frameclamp2_controller
            frameclamp3_controller
            frameclamp4_controller
            throwclamp_controller
            "
        output="screen"/>

    <node name="controller_spawner6" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=dxl_manager
                --port gripper_port
                gripper_controller
                "
            output="screen"/>

<node name="arduinoThrowMotorController" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
            
</launch>
